extends layout

block content
    h1= title
    
    if (toShow == null)
        h2 No instance to delete
    else
        -let umbrellaid = toShow._id
        -let Umbrella_color = toShow.Umbrella_color
        - let Umbrella_length = toShow.Umbrella_length
        - let umbrella_cost = toShow.umbrella_cost
        - let actionid = "/resource/umbrella/" + umbrellaid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='umbrellaAttr mr-3') umbrella ID is:
                div #{umbrellaid}
            div.row
                div(class='umbrellaAttr mr-3') umbrella Name is:
                div #{Umbrella_color}
            div.row
                div(class='umbrellaAttr mr-3') umbrella Type is:
                div #{Umbrella_length}
            div.row
                div(class='umbrellaAttr mr-3') umbrella Cost is:
                div #{umbrella_cost}
        
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
            function cancel() {
            // Go back to the home page for the umbrella collection
            window.location.href='/umbrella'
            }
    script.
                function deleteOnid() {
                // delete first
                fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Delete succeded")
                window.location.href='/umbrella'
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
                });
                }
